*{
    padding: 0%;
    margin: 0%;
}
body{
    background:#3F5884;
    color: rgb(199, 219, 237);
}
table {
    width: 100%;
    text-align: center;
    margin: 10px 0px;
    border: 2px solid black;
    color: rgb(255, 255, 255);
    font-weight: bolder;

}
table tr:nth-of-type(odd){
    background-color: gray;
}
table th {
    background-color: black;
    color: gold;
}

th,
td {
    padding: 5px;
    border: 1px solid;
}
* {
    text-align: center;
}

body {
    margin: 0;
}
p{
    font-size: 20px;
}
.home{
    position: absolute;
    left: 0%;
    font-size: 20px;
    padding-left:5px ;
    text-decoration: none;
    color: aliceblue;
}
.home:hover {
    background-color: red;
    color: aliceblue;
    text-align: center;
}
#btn:hover{
background-color: green;
}
@media (min-width:300px) and (max-width:767px){
    table{
        width:98%;
    }
}
